{%- assign item = section.settings -%}
<div class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %}container-indent sectionbigbanners{{ section.id }}">
  <div class="container{% if item.fullwidth %}-fluid{% endif %}">
    <div class="{% if item.fullwidth %}row{% endif %} no-gutter">
	  {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}{%- assign b_i = block.settings -%}
      {%- assign id = '#section' | append: section.id | append: forloop.index -%}
      
      {%- if b_i.image == blank -%}{%- assign collection_image = collection.image -%}{%- endif -%}
        
      {%- if b_i.use_parallax and collection_image != blank -%}
      {%- assign id_s = 'data-anchor-target="' | append: id | append: '"' -%}
      {%- assign img = collection_image | img_url: '2048x' -%}
      {%- assign img = 'style="background-image: url(' | append: img | append: ')"' -%}
      {% assign parallax_atrr = img | append: id_s %}
      <style>
        @media (min-width: 1025px){
          body:not(.touch-device) {{ id }} .tt-promo-fullwidth.tt-promo-parallax {
            background-attachment: fixed;
          }
        }
        {{ id }} .tt-promo-fullwidth {
          height: {{ b_i.height1 }}px;
        }
        @media (max-width: 1199px){
          {{ id }} .tt-promo-fullwidth {
            height: {{ b_i.height2 }}px;
          }
        }
        @media (max-width: 789px){
          {{ id }} .tt-promo-fullwidth {
            height: {{ b_i.height3 }}px;
          }
        }
        @media (max-width: 451px){
          {{ id }} .tt-promo-fullwidth {
            height: {{ b_i.height4 }}px;
          }
        }
      </style>
      {%- endif -%}
      {%- if b_i.use_custom_style_for_text_1 -%}
      {% assign id_s = id | append: " .tt-promo-fullwidth" %}
      <style>
        {{ b_i.custom_style_for_text_1 | replace: ".tt-promo-fullwidth", id_s }}
      </style>
      {%- endif -%}
      <div class="col-sm-12 respimgsize blid{{ block.id }}" {{ block.shopify_attributes }} id="section{{ section.id }}{{ forloop.index }}">
        {% if b_i.show_button or b_i.use_link == false %}<div class="tt-promo-fullwidth"{{ parallax_atrr }}>{% else %}<a href="{{ b_i.link }}"{{ parallax_atrr }} class="tt-promo-fullwidth">{% endif %}
        
          {%- if b_i.use_parallax == false or collection_image == blank -%}
          {%- if collection_image == blank -%}
        	{%- if b_i.use_parallax -%}{%- include "get_svg" type:'image' size:'1920x1300' -%}
        	{%- else -%}{%- include "get_svg" type:'image' size:'2048x800' -%}
        	{%- endif -%}
        	{%- else -%}    
        	<img class="lazyload"
                 data-mainimage="{{ collection_image | img_url: '100x100' | replace: '100x100', 'respimgsize' }}"
                 alt="{{ collection_image.alt }}">
          {%- endif -%}
          {%- endif -%}

          <div class="tt-description {{ b_i.position }}">
            <div class="tt-description-wrapper text-{{ b_i.textalign }}">
              {% unless b_i.text1 == '' %}<div class="tt-title-small" style="color:{{ b_i.text_color1 }}">{{ b_i.text1 }}</div>{% endunless %}
              {% unless b_i.text2 == '' %}<div class="tt-title-large" style="color:{{ b_i.text_color2 }}">{{ b_i.text2 }}</div>{% endunless %}
              {% unless b_i.text3 == '' %}<p style="color:{{ b_i.text_color3 }}">{{ b_i.text3 }}</p>{% endunless %}
              {% if b_i.show_button %}<a href="{{ b_i.link }}" class="btn btn-xl" style="color:{{ b_i.cbtntext }}; background:{{ b_i.cbtnbg }};" data-c="{{ b_i.cbtntext }}" data-ac="{{ b_i.acbtntext }}" data-bgc="{{ b_i.cbtnbg }}" data-abgc="{{ b_i.acbtnbg }}" data-hovercolors>{{ b_i.button_name }}</a>{% endif %}
            </div>
          </div>
        {%- if b_i.show_button == false and b_i.use_link == true -%}</a>{%- else -%}</div>{%- endif -%}
        
      </div>
      {%- endfor -%}
      {%- else -%}
      <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
      {%- endif -%}
    </div>
  </div>
</div>
<style>  
  {%- for block in section.blocks -%}{%- assign b_i = block.settings -%}
  {%- if b_i.show_button -%}
  {%- if b_i.btn_custom_styles != '' -%}
  .sectionbigbanners{{ section.id }} .blid{{ block.id }} .btn{
    /*{{ b_i.btn_custom_styles | replace: ";", " !important;" }}*/
    {{ b_i.btn_custom_styles }}
  }
  {%- endif -%}
  {%- if b_i.btn_custom_styles_hover != '' -%}
  .sectionbigbanners{{ section.id }} .blid{{ block.id }} .btn:hover{
    /*{{ b_i.btn_custom_styles_hover | replace: ";", " !important;" }}*/
    {{ b_i.btn_custom_styles_hover }}
  }
  {%- endif -%}
  {%- endif -%}
  
  {%- if b_i.show_mask -%}
  .sectionbigbanners{{ section.id }} #section{{ section.id }}{{ forloop.index }} .tt-description{
    z-index: 2;
  }
  .sectionbigbanners{{ section.id }} #section{{ section.id }}{{ forloop.index }}:after {
    content: "";
    {%- assign alpha = b_i.show_mask_alpha | divided_by: 100.00 -%}
    background: {{ b_i.show_mask_color | color_modify: 'alpha', alpha }};
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  {%- endif -%}
  
  {%- endfor -%}
</style>