<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="tt-product-single-info pt-0 px-md-0">
        <h1 class="tt-title mt-3 mt-md-0">{{ product.title }}</h1>
        <div class="d-flex">
          <!-- Start of Judge.me code --><div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge mt-2' data-id='{{ product.id }}' data-auto-install='false'>{{ product.metafields.judgeme.badge }}</div><!-- End of Judge.me code -->
          {%- unless settings.catalogue_mode -%}
            {%- if item.show_review -%}
            <div class="tt-review mt-2">
              <div class="rating" data-tooltip="{{ 'general.tooltip_texts.view_review' | t }}"{%- if settings.selectedreviewaapp == 'alireviewapp' -%} data-ali="shopify-ali-review-widget"{%- endif -%}>
                {%- if settings.selectedreviewaapp == 'alireviewapp' -%}
                <div product-id="{{ product.id }}" class="alr-display-review-badge"></div>
                {%- else %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
          {%- endunless -%}
          <div class="tourinfo ml-3 mt-2"><span class="icon-g-82 mr-1"></span>Cancelación gratuita</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right mt-3 mt-md-0">
      <div class="tt-product-single-info pt-0 px-md-0">
        {%- unless settings.catalogue_mode -%}
          <div class="d-flex justify-content-end border border-md-0 rounded-corner p-3 p-md-0" id="booking-mob">
            <div class="d-md-none mr-auto text-left">Precio <strong>por {{ product.metafields.details.base_price_person }}</strong></div>
            <div class="mt-md-1 mr-md-0">
              <div class="d-flex justify-content-end">
                <div class="fromprice">
                  {%- if sale_on -%}
                  <span class="new-price">{{ product.metafields.details.base_price }}€</span>
                  <span class="old-price">{{ product.metafields.details.compare_at_base_price }}€</span>
                  {%- else -%}
                  <span class="sale-price">{{ product.metafields.details.base_price }}€</span>
                  <span class="old-price"></span>
                  {%- endif -%}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                {%- if item.show_tax_text -%}
                <div class="tt-product-policies" data-product-policies>
                  {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                {%- endif -%}
              </div>
              <div class="ml-1 d-none d-md-block"> / {{ product.metafields.details.base_price_person }}</div>
            </div>
            <a href="#booking" class="btn btn-lg btn-border ml-4 px-3 d-none d-md-flex"><span>{{ 'products.general.select_options' | t }}</span></a>
          </div>
        
          {%- if product.available -%}
          <div class="tt-wrapper d-flex justify-content-md-end mt-3">
            <ul class="tt-list-btn d-md-none pr-2 mr-4">
              <li><a href="#tourdetails" class="inline-wk-link">{% include "svg-mobile-menu-inline" %}<span>Detalles del tour</span></a></li>
            </ul>
          {%- if item.product_item_show_wishlist and settings.show_wishlist or item.product_item_show_compare and settings.show_compare -%}
            <ul class="tt-list-btn">
              {%- if item.product_item_show_wishlist and settings.show_wishlist -%}
              <li><a href="{{ product.url | within: collection }}"
                     data-productid="{{ product.id }}"
                     data-producth="{{ product.handle }}"
                     data-add="{{ "wishlist.buttons_text.tooltip_add" | t }}"
                     data-remove="{{ "wishlist.buttons_text.tooltip_remove" | t }}"
                     data-tooltip="{% if customer.id == blank %}{{ "wishlist.buttons_text.tooltip_login" | t }}{% else %}{% if wl_text %}{{ "wishlist.buttons_text.tooltip_remove" | t }}{% else %}{{ "wishlist.buttons_text.tooltip_add" | t }}{% endif %}{% endif %}"
                     data-type="wishlist"
                     data-prpage-add="{{ "wishlist.buttons_text.page_text_add" | t }}"
                     data-prpage-rem="{{ "wishlist.buttons_text.page_text_remove" | t }}"
                     data-action="{% if wl_text %}wk-remove{% else %}wk-add{% endif %}"
                     class="inline-wk-link wlbutton-js prpagebtn-js">{% include "svg-heart" %}<span>{% if wl_text %}{{ "wishlist.buttons_text.page_text_remove" | t }}{% else %}{{ "wishlist.buttons_text.page_text_add" | t }}{% endif %}</span></a>
              </li>
              {%- endif -%}
              {%- if item.product_item_show_compare and settings.show_compare -%}
              <li><a href="{{ product.url | within: collection }}"
                     data-action="wk-add"
                     data-add="{{ "compare.buttons_text.tooltip_add" | t }}"
                     data-remove="{{ "compare.buttons_text.tooltip_remove" | t }}"
                     data-tooltip="{{ "compare.buttons_text.tooltip_add" | t }}"
                     data-compareid="{{ pr_variant.id }}"
                     data-prpage-add="{{ "compare.buttons_text.page_text_add" | t }}"
                     data-prpage-rem="{{ "compare.buttons_text.page_text_remove" | t }}"
                     class="inline-wk-link compare-js prpagebtn-js"
                     >{% include "svg-compare" %}<span>{{ "compare.buttons_text.page_text_add" | t }}</span></a>
              </li>
              {%- endif -%}
            </ul>
          {%- endif -%}
          </div>
          {%- endif -%}
          
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>